/* Reset */
body{
	font-family: 'Roboto';
	font-size: 16px;
	height: 400px;
	padding: 10px;
	width: 400px;
}


/* Util */
.u-cut-text{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


/* Cards (Containers) */
.card{
	height: 400px;
}

.card .card-content .card-title{
	color: white;
	cursor: default;
	font-weight: bold;
	margin-bottom: 20px;
}

.card-body{
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 230px;
	justify-content: center;
	overflow: auto;
}

.card .card-action{
	overflow: auto;
}


/* Lists*/
.collection{
	align-self: stretch;
	border: none;
	flex-grow: 1;
	margin: 0;
	overflow: auto;
}

.collection .collection-item{
	background-color: #252525;
	border-bottom: 1px solid #333333;
	color: #9c9c9c;
	cursor: pointer;
	font-size: 1em;
}

.collection .collection-item:not(.active):hover{
	background-color: #353535;
}


/* Btns and some icons */
.btn-floating, .btn{
	margin-left: 10px;
}

.back-to-home-btn{
	margin: 0 10px 0 0;
	position: relative;
	top: -3px;
}


/* Containers */
#add-rss-feed-container, #rss-feed-details-container{
	display: none;
}


/* Add RSS Feed View elements */
#add-rss-feed-form{
	flex-grow: 1;
}


/* RSS Feed Details elements */
.rss-feed-link{
	position: relative;
}

.rss-feed-link .rss-feed-link-title{
	font-size: 14px;
}

#rss-feed-links-ul .rss-feed-link .rss-feed-link-date{
	color: white;
	font-size: 12px;
	text-align: right;
}

.rss-feed-link .rss-feed-link-is-new{
	bottom: 0;
	left: 0;
	position: absolute;
	margin: 5px;
}

#error-message{
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 5px;
	color: #a94442;
	display: none;
	padding: 10px;
}